{% extends 'layouts/base_home.html' %}

{% block title %}Blogs{% endblock title %}

{% block content %}
  <!-- ======= newsletters Section ======= -->
  <section id="newsletter-details" class="newsletter-details">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{{ newsletter.title }}</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 content">
              <div class="author-info">
                {% if user.profile.profile_pic %}
                  <img src="{{ user.profile.profile_pic.url }}" class="circular-image img-fluid" alt="">
                {% else %}
                  <img src="/static/assets/img/nav/profile_pic.jpg" class="circular-image img-fluid" alt="">
                {% endif %}
                <span class="name">{{ user.profile.author_name }}</span>
                <div class="social-links">
                  <a href="{{ user.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{ user.profile.twitter }}"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{ user.profile.github }}"><i class="bi bi-github"></i></a>
                </div>
              <hr>
              </div>
              {% if newsletter.co_author %}
                <div class="author-info">
                  {% if newsletter.co_author.profile.profile_pic %}
                  <img src="{{ newsletter.co_author.profile.profile_pic.url }}" class="circular-image img-fluid" alt="">
                  {% else %}
                    <img src="/static/assets/img/nav/profile_pic.jpg" class="circular-image img-fluid" alt="">
                  {% endif %}
                  <span class="name">{{ newsletter.co_author.profile.author_name }}</span>
                  <div class="social-links">
                    <a href="{{ newsletter.co_author.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ newsletter.co_author.profile.twitter }}"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ newsletter.co_author.profile.github }}"><i class="bi bi-github"></i></a>
                  </div>
                <hr>
                </div>
              {% endif %}
            </div>
            <div class="col-lg-8 content">
              {{ html_content|safe }}
            </div>
        </div>

    </div>
</section>
{% endblock content %}
