{% extends 'layouts/base_home.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="login-container">
    <div class="login-card">
      <h2 class="login-card-title">Profile Info</h2>
      
      <form method="POST" enctype="multipart/form-data">
  
        {% csrf_token %}
        <div class="login-card-body">
  
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-people"></i></span>
              </div>
              {{ form.author_name }}
            </div>
          </div>
          <span class="text-error">{{ form.author_name.errors }}</span>

          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-file-image"></i></span>
              </div>
              {{ form.profile_pic }}
            </div>
            <span class="text-error">{{ form.profile_pic.errors }}</span>
          </div>

  
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-linkedin"></i></span>
              </div>
              {{ form.linkedin }}
            </div>
          </div>
          <span class="text-error">{{ form.linkedin.errors }}</span>
  
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-github"></i></span>
              </div>
              {{ form.github }}
            </div>
          </div>
          <span class="text-error">{{ form.github.errors }}</span>

          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="bi bi-twitter"></i></span>
              </div>
              {{ form.twitter }}
            </div>
          </div>
          <span class="text-error">{{ form.github.twitter }}</span>
  
          
          <div class="text-center button">
            <button type="submit" class="btn btn-primary my-4">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
