{% extends 'layouts/base_web.html' %}

{% block title %}Blogs{% endblock title %}

{% block content %}
  <!-- ======= blogs Section ======= -->
  <section id="blog-details" class="blog-details">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{{ blog.title }}</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 content">
              <div class="author-info">
                {% if blog.created_by.profile.profile_pic %}
                  <img src="{{ blog.created_by.profile.profile_pic.url }}" class="circular-image img-fluid" alt="">
                {% else %}
                  <img src="/static/assets/img/nav/profile_pic.jpg" class="circular-image img-fluid" alt="">
                {% endif %}
                <span class="name">{{ blog.created_by.profile.author_name }}</span>
                <div class="social-links">
                  <a href="{{ blog.created_by.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{ blog.created_by.profile.twitter }}"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{{ blog.created_by.profile.github }}"><i class="bi bi-github"></i></a>
                </div>
              <hr>
              </div>
              {% if blog.co_author %}
                <div class="author-info">
                  {% if blog.co_author.profile.profile_pic %}
                  <img src="{{ blog.co_author.profile.profile_pic.url }}" class="circular-image img-fluid" alt="">
                  {% else %}
                    <img src="/static/assets/img/nav/profile_pic.jpg" class="circular-image img-fluid" alt="">
                  {% endif %}
                  <span class="name">{{ blog.co_author.profile.author_name }}</span>
                  <div class="social-links">
                    <a href="{{ blog.co_author.profile.linkedin }}"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ blog.co_author.profile.twitter }}"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ blog.co_author.profile.github }}"><i class="bi bi-github"></i></a>
                  </div>
                <hr>
                </div>
              {% endif %}
            </div>
            <div class="col-lg-8 content">
              {{ html_content|safe }}
            </div>
        </div>

    </div>
</section>
{% endblock content %}
