<nav class="navbar">
  <div class="navbar-start">
    <img src="/static/assets/img/cloudtech_logo.jpg" alt="Company Logo" class="company-logo">
    <span class="company-name">CLOUD TECH</span>
  </div>
    
    <span class="name">Contribute</span>
    <div class="dropdown">
      <img src="/static/assets/img/profile_pic.jpg" class="dropdown-btn circular-image" onclick="toggleDropdown()">
      <div class="dropdown-content" id="dropdownContent">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">
          <img src="logo.png" alt="Logo">
          Option 3 with Logo
        </a>
      </div>
    </div>
  </div>
</nav>
<hr class="navbar-line">