<nav class="navbar">
    <div class="navbar-start">
      <img src="static/assets/img/blogs/blog1.jpg" alt="Company Logo" class="company-logo">
      <span class="company-name">CLOUD TECH</span>
    </div>
    <div class="navbar-brand">
      <a class="selected" href="#">Home</a>
      <a href="#">Blogs</a>
      <a href="#">Newsletters</a>
      <a href="#">Monthly</a>
      <a href="#">Projects</a>
      <a href="#">About</a>
    </div>
    <div class="navbar-end">
      <span class="name">Contribute</span>
      <a href="{% url 'web:redirect' %}">
        <img src="static/assets/img/contrib.jpg" class="circular-image" alt="Contributor Image">
      </a>      
      </div>
    </div>
</nav>
<hr class="navbar-line">