{% load static %}
<nav class="navbar">
  <div class="navbar-start">
    <a href="/">
    <img src="{% static 'assets/img/nav/cloudtech_logo.jpg' %}" alt="Company Logo" class="company-logo">
    <span class="company-name">CLOUD TECH</span>
    </a>
  </div>
  
  <div class="navbar-end">
    <div class="dropdown">
      <span class="name">{{ user.username }}</span>
      {% if user.profile.profile_pic %}
        <img src="{{ user.profile.profile_pic.url }}" class="dropdown-btn circular-image" onclick="toggleDropdown()">
      {% else %}
        <img src="{% static 'assets/img/nav/profile_pic.jpg' %}" class="dropdown-btn circular-image" onclick="toggleDropdown()">
      {% endif %}
      <div class="dropdown-content" id="dropdown-content">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/profile/{{ user.profile.id }}">Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
        </a>
      </div>
    </div>
  </div>
</nav>
<hr class="navbar-line">