{% extends 'layouts/base_web.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row">
            <div class="col-lg-3 content">
                <div class="circular-image">
                    <img src="{% static 'assets/img/nav/cloudtech_logo.jpg' %}" class="img-fluid" alt="">
                </div>
                <br>
                <h2>Cloud Tech</h2>
                <h3>
                    <div class="social-links">
                        <a href="mailto:ishan.modi24@gmail.com"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/company/cloud-techs/?viewAsMember=true"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://twitter.com/AboutCloudTech"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://github.com/Cloud-Tech-Projects"><i class="bi bi-github"></i></a>
                    </div>    
                <h3>
            </div>
            <div class="col-lg-8 content">
                <p class="fst-italic">
                    👋Everything about Cloud & Tech

                    <br><br>🚀 Cloud Tech is a community dedicated to individuals within the cloud industry who have 0-3 years of experience. The aim of Cloud Tech is to assist these aspiring cloud professionals in launching or advancing their careers in the field.
                    <br><br>💻 The mission of Cloud Tech is to provide a supportive and educational environment for individuals looking to grow and succeed in their careers. With the help of mentorship, educational resources, and industry insights, Cloud Tech aims to empower individuals to become confident and competent in utilizing cloud technology to build and deploy innovative solutions.
                    <br><br>👨‍💻 The founders of Cloud Tech, Adit and Ishan, started this community to fill a void in their own lives. They felt a lack of mentorship and guidance growing up, and wanted to create a community where others wouldn't have to feel the same. Despite facing challenges and hardships, their passion for helping others and belief in the power of mentorship and community kept them going.
                    <br><br>🏆 So far, they have mentored over 1,500 students and delivered over 100 talks and seminars to a total audience of over 10,000 individuals. Their commitment to educating and inspiring the next generation of technology leaders is unwavering, and they are proud of the positive impact they have had on so many students' lives.
                    <br><br>🌤️ With a focus on cloud service providers such as AWS, Azure, and GCP, Cloud Tech strives to help its community members navigate the rapidly-evolving world of cloud technology and succeed in an increasingly digital world.
                    <br><br>Follow @AboutCloudTech for more About Cloud & Technology. ❤
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

{% endblock content %}