{% extends 'layouts/base_web.html' %}

{% block title %}Blogs{% endblock title %}

{% block content %}
<!-- ======= blogs Section ======= -->
<section id="blogs" class="blogs section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Blogs</h2>
            <p></p>
        </div>
        <form class="d-flex justify-content-center" style="padding-bottom: 50px;">
            {% csrf_token %}
                {{ filter.form.search_blog }}&nbsp;
                {{ filter.form.search_author }}&nbsp;
                {{ filter.form.tag }}&nbsp;
                {{ filter.form.tenant }}&nbsp;
            <button type="submit"
                    class="btn-sm rounded" style="border: 1px; height: 35px;">
                Search
            </button>
        </form>
        <div class="row justify-content-center" style="margin-top: 25px;">
            <div class="blog col-md-8">
                {% for blog in blogs %}
                <div class="row d-flex justify-content-between" style="padding-bottom: 25px;">
                    <div class="col-lg-9">
                        <a href="{{ blog.tenant_name }}/{{ blog.pk }}">{{ blog.title }}</a>
                        <p class="break-word">
                            {{ blog.sub_title }}
                        </p>
                        <div class="card-text text-muted small">
                            {{ blog.created_by.profile.author_name }}&nbsp;|
                            {% for tag in blog.tags.all %}
                                {{ tag.name }}&nbsp;
                            {% endfor %}
                        </div>
                        <small class="text-muted">{{ blog.pub_date|date:"M d" }}</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="{{ blog.image.url }}">
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}