{% extends 'layouts/base_web.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<section id="index" class="home d-flex flex-column justify-content-center">
    <div class="section-title">
        <h2>Welcome to Cloud Tech 👋</h2>
    </div>
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <p class="fst-italic" style="text-align: center;">💡 Unlock Your AI & Cloud Career Potential with Cloud Tech. 💻<br>
            🌱 Join our vibrant community and gain the knowledge and connections you need to excel in the world of Artificial Intelligence & Cloud Computing. ✨</p><hr style="width:100%"><br>
        
        <div class="social-links">
            <a href="{{ urls.email }}"><i class="bi bi-envelope-fill"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ urls.linkedin }}"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ urls.twitter }}"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ urls.github }}"><i class="bi bi-github"></i></a>
        </div>
        <div class="gallery">
        </div> 
    </div>
    
    <div class="dashboard">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                <a href="{{ urls.linkedin }}">
                <div class="card info-card card-1">
                    <div class="card-body">
                        <h5 class="card-title d-flex">Followers <span>| Community Members</span></h5>
    
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">
                                <h6>5K +</h6>
                                <span
                                    class="text-muted small pt-2 ps-1">followers on social media platforms</span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </a>
            </div><!-- End Sales Card -->
    
            <!-- Revenue Card -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                <a href="{{ urls.youtube }}">
                <div class="card info-card card-2">
                    <div class="card-body">
                        <h5 class="card-title d-flex">Talks <span>| Seminars & Meetups</span></h5>
    
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash"></i>
                            </div>
                            <div class="ps-3">
                                <h6>100 +</h6>
                                <span
                                    class="text-muted small pt-2 ps-1">talks in various community events</span>
    
                            </div>
                        </div>
                    </div>
    
                </div>
            </a>
            </div><!-- End Revenue Card -->
    
            <!-- Customers Card -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                <a href="{{ urls.github }}">
                <div class="card info-card card-3">
                    <div class="card-body">
                        <h5 class="card-title d-flex">Projects <span>| AI & Cloud</span></h5>
    
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                                <h6>50 +</h6><span
                                    class="text-muted small pt-2 ps-1">student collaborators on projects</span>
    
                            </div>
                        </div>
    
                    </div>
                </div>
                </a>
    
            </div><!-- End Customers Card -->
        </div>
    </div>

      
      
      
</section><!-- End home -->
{% endblock content%}