{% extends 'layouts/base_web.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section id="index" class="home d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Ishan Modi</h1><hr style="width:75%"><br>
        <p class="fst-italic">💻 Machine Learning Engineer with an expertise in end to end product development.<br>
           💡 Enthusiastic to understand and apply mathematics to deal with various research problems. <br>
           🌱 Fascinated by the impact of transformer models in the real world.<br>
           ✨ Believes that cloud automation will be a part of every machine learning application in future.</p>
        <div class="social-links">
            <a href="mailto:ishan.modi24@gmail.com" target="blank"><img src="https://www.pngrepo.com/png/223047/180/gmail.png" alt="" height="30" width="30" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/ishan-modi-5765521a1/" target="blank"><img src="https://www.pngrepo.com/png/81143/180/linkedin.png" alt="" height="30" width="30" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/ishan_modi24" target="blank"><img src="https://seeklogo.com/images/T/twitter-2012-positive-logo-916EDF1309-seeklogo.com.png" alt="" height="30" width="30" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="tel:+918160582270"><img src="https://w7.pngwing.com/pngs/441/336/png-transparent-call-log-logo-iphone-4-iphone-3g-iphone-7-telephone-icon-phone-hd-electronics-text-telephone-call.png" alt="" height="30" width="30"></i></a>
        </div>
    </div>
</section><!-- End home -->
{% endblock %}