{% extends 'layouts/base_web.html' %}

{% block title %}Monthly{% endblock title %}

{% block content %}
<section id="monthly" class="monthly">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Monthly</h2>
        <p></p>
    </div>

    <div class="row">
        {% for discussion in monthly %}
        <div class="col-lg-4 col-md-6 align-items-stretch" data-aos="zoom-in">
            <div class="icon-box">
                <img src="{{ discussion.image.url }}"
                    alt="Image">
                <h4><a href="{{ discussion.link }}">{{ discussion.title }}</a></h4>
                <p>{{ discussion.sub_title }}</p>

            </div>
        </div>
        {% endfor %}
    </div>

</div>
</section>

{% endblock content %}

  