{% extends 'layouts/base_web.html' %}

{% block title %}NewsLetters{% endblock title %}

{% block content %}
<section id="newsletters" class="newsletters section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>NewsLetters</h2>
            <p></p>
        </div>
        <form class="d-flex justify-content-center" style="padding-bottom: 50px;">
            {% csrf_token %}
            {{ filter.form.search_newsletter }}&nbsp;
            {{ filter.form.search_author }}&nbsp;
            {{ filter.form.tag }}&nbsp;
            {{ filter.form.tenant }}&nbsp;
        <button type="submit"
                class="btn-sm rounded" style="border: 1px; height: 35px;">
            Search
        </button>
    </form>
        <div class="row justify-content-center" style="margin-top: 25px;">
            <div class="newsletter col-md-8">
                {% for newsletter in newsletters %}
                <div class="row d-flex justify-content-between" style="padding-bottom: 25px;">
                    <div class="col-lg-9">
                        <a href="{{ newsletter.tenant_name }}/{{ newsletter.pk }}">{{ newsletter.title }}</a>
                        <p class="break-word">
                            {{ newsletter.sub_title }}
                        </p>
                        <div class="card-text text-muted small">
                            {{ newsletter.created_by.profile.author_name }}&nbsp;|
                            {% for tag in newsletter.tags.all %}
                                {{ tag.name }}&nbsp;
                            {% endfor %}
                        </div>
                        <small class="text-muted">{{ newsletter.pub_date|date:"M d, Y" }}</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="{{ newsletter.image.url }}">
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}