{% extends 'layouts/base_web.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<section id="newletters" class="newletters section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>NewsLetters</h2>
            <p></p>
        </div>
        <div class="row justify-content-center" style="margin-top: 25px;">
            <div class="newsletter col-md-8">
                {% for newsletter in newsletters %}
                <div class="row d-flex justify-content-between" style="padding-bottom: 25px;">
                    <div class="col-lg-9">
                        <a href="{{ newletter.tenant_name }}/{{ newsletter.pk }}">{{ newsletter.title }}</a>
                        <p class="break-word">
                            {{ newsletter.sub_title }}
                        </p>
                        <div class="card-text text-muted small">
                            {{ newsletter.created_by.profile.author_name }}&nbsp;|
                            {% for tag in newsletter.tags.all %}
                                {{ tag.name }}&nbsp;
                            {% endfor %}
                        </div>
                        <small class="text-muted">{{ newsletter.pub_date|date:"M d" }}</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="{{ newsletter.image.url }}">
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}