{% extends 'layouts/base_web.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!-- ======= blogs Section ======= -->
<section id="blogs" class="blogs section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Blogs</h2>
            <p></p>
        </div>
        <div class="row justify-content-center" style="margin-top: 25px;">
            <div class="blog col-md-8">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-9">
                        <a href="./article.html">Nearly 200 Great Barrier Reef coral species also live in the deep sea</a>
                        <p>
                            Nasa says it has detected the first signs of significant melting in a swathe of glaciers in East Antarctica.
                        </p>
                        <div class="card-text text-muted small">
                            Jake Bittle in SCIENCE
                        </div>
                        <small class="text-muted">Dec 12 &middot; 5 min read</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="https://ishanportfolio.s3.amazonaws.com/assets/img/blogs/blog1.jpg">
                    </div>
                </div><br>
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-9">    
                        <a href="./article.html">50 years ago, armadillos hinted that DNA wasn't destiny</a>
                        <p>
                            Nasa says it has detected the first signs of significant melting in a swathe of glaciers in East Antarctica.
                        </p>
                        <div class="card-text text-muted small">
                            Jakes Bittle in SCIENCE
                        </div>
                        <small class="text-muted">Dec 12 &middot; 5 min read</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="https://ishanportfolio.s3.amazonaws.com/assets/img/blogs/blog2.jpg">
                    </div>
                </div><br>
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-9">
                        <a href="./article.html">East Antarctica's glaciers are stirring</a>
                        <p>
                            Nasa says it has detected the first signs of significant melting in a swathe of glaciers in East Antarctica.
                        </p>
                        <div class="card-text text-muted small">
                            Jake Bittle in SCIENCE
                        </div>
                        <small class="text-muted">Dec 12 &middot; 5 min read</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="https://ishanportfolio.s3.amazonaws.com/assets/img/blogs/blog3.jpg">
                    </div>
                </div><br><br><br>
            </div>
        </div>
    </div>
</section>

{% endblock %}