{% extends 'layouts/base_home.html' %}

{% block title %}Blogs{% endblock title %}

{% block content %}
<!-- ======= blogs Section ======= -->
<section id="blogs" class="blogs section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Blogs</h2>
            <p></p>
        </div>
        <div class="row justify-content-center" style="margin-top: 25px;">
            <div class="blog col-md-8">
                {% for blog in blogs %}
                <div class="row d-flex justify-content-between" style="padding-bottom: 25px;">
                    <div class="col-lg-9">
                        <a href="view/{{ blog.pk }}">{{ blog.title }}</a>
                        {% if user.is_authenticated and blog.created_by == user %}
                        <a href="" class="edit-icon">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    {% endif %}
                        <p class="break-word">
                            {{ blog.sub_title }}
                        </p>
                        <div class="card-text text-muted small">
                            {{ user.profile.author_name }}&nbsp;|
                            {% for tag in blog.tags.all %}
                                {{ tag.name }}&nbsp;
                            {% endfor %}
                        </div>
                        <small class="text-muted">{{ blog.pub_date|date:"M d" }}</small>
                    </div>
                    <div class="col-lg-3">
                        <img src="{{ blog.image.url }}">
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
